################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/proyecto/.vs/proyecto/v16
/1.8Tabla_Booleano/.vs/1.8Tabla_Booleano/v16/Server/sqlite3
